.footer{
  width: 100%;
  height: 9vh;
  border: 1px solid #ccc;
}

.footer__container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__title{
  font-size: 20px;
}

.lorem__text{
  font-size: 15px;
  max-width: 600px;
}